/*
Partial style(s) is(are) sourced or adapted from Blue Topaz (https://github.com/PKM-er/Blue-Topaz_Obsidian-css), and I would like to express my appreciation to WhyI (https://github.com/whyt-byte) and pkmer.cn (https://pkmer.cn).
*/

@import url("blue-topaz/blue-topaz-base.css");

:root {
  --bt-number-headings: "";
  --bt-bg: #202020;
  --bt-bg-alt: #444444;
  --bt-surface: #151515;
  --bt-surface-alt: #000000;
  --bt-text: #c6c6c6;
  --bt-muted: #8a8a8a;
  --bt-border: #343434;
  --bt-accent-rgb: 45, 130, 204;
  --bt-accent: #2d82cc;
  --bt-accent-hover: #55a2d6;
  --bt-strong: #F25F5F;
  --bt-em: #519A00;
  --bt-strong-em: #B166EC;
  --bt-h1: hsl(78, 62%, 47%);
  --bt-h2: hsl(118, 42%, 49%);
  --bt-h3: hsl(180, 53%, 48%);
  --bt-h4: hsl(216, 69%, 68%);
  --bt-h5: hsl(258, 79%, 77%);
  --bt-h6: hsl(290, 85%, 81%);
  --bt-code-bg: #272822;
  --bt-code-text: #f8f8f2;
  --bt-code-border: #3e3d32;
  --bt-code-block-bg: #212121;
  --bt-code-block-text: #f8f8f2;
  --bt-code-line-number: #75715e;
  --bt-code-comment: #75715e;
  --bt-code-keyword: #f92672;
  --bt-code-string: #e6db74;
  --bt-code-number: #ae81ff;
  --bt-code-property: #66d9ef;
  --bt-code-tag: #f92672;
  --bt-code-operator: #f92672;
  --bt-code-punctuation: #f8f8f2;
  --bt-code-meta: #fd971f;
  --bt-code-shell-option: #f92672;
  --bt-code-variable: #f8f8f2;
  --bt-code-function: #a6e22e;
  --bt-quote-bg: #79c95512;
  --bt-quote-border: #2f7f2e;
  --bt-green-note-bg: #79c95512;
  --bt-green-note-border: #2f7f2e;
  --bt-mark-bg: #ffd16633;
  --bt-mark-text: #f1f1f1;
  --bt-checkbox-border: #555555;
  --bt-checkbox-check: #ffffff;
  --bt-table-border: #3d4f5e;
  --bt-table-head: #2d82cc1f;
  --bt-table-stripe: #ffffff08;
  --bt-alert-bg: #79c95512;
  --bt-alert-border: #2f7f2e;
  --bt-alert-title: hsl(118, 42%, 62%);
  --bt-alert-tip-bg: #79c95512;
  --bt-alert-tip-border: #2f7f2e;
  --bt-alert-warn-bg: #f25f5f17;
  --bt-alert-warn-border: #F25F5F;
}

#typora-sidebar,
.file-list-item,
.file-tree,
.file-node-content,
.file-node-title,
.file-library-node,
.outline-item,
.outline-title {
  color: #e6e6e6;
}
